 .deco-center{
 	display: table;
    margin: 0 auto;
}
.heading{
	margin-bottom: 20px;
}
.alphabet{
	margin-top: 20px;
}
.links{
	position: relative;
}
.links a{
	font-family: futura;
	text-transform: uppercase;
	font-size: 30px;
	color: #f9ff00;
}
.links img{
	z-index: 0;
}
#link-ggl{
	z-index: 1;
	position: absolute;
	left: 785px;
	top: 125px;
}
#link-insta{
	z-index: 1;
	position: absolute;
	left: 670px;
	top: 570px;
}
#link-fb{
	z-index: 1;
	position: absolute;
	left: 75px;
	top: 400px;

}



/*override default bootstrap*/
html{

}
*, *::after, *::before{
    box-sizing: initial;
}
body{
	font-size: initial;
}
/*end of override*/