 .deco-center{
 	display: table;
    margin: 0 auto;
}
.heading{
	margin-bottom: 20px;
}
.alphabet{
	margin-top: 20px;
}




/*override default bootstrap*/
html{

}
*, *::after, *::before{
    box-sizing: initial;
}
body{
	font-size: initial;
}
/*end of override*/