 .deco-center{
 	display: table;
    margin: 0 auto;
}
.heading{
	margin-bottom: 20px;
}
.alphabet{
	margin-top: 10px;
}
.links{
	position: relative;
	z-index: 100;
}
.links a{
	font-family: futura;
	text-transform: uppercase;
	font-size: 30px;
	color: #f9ff00;
}
.links img{
	z-index: 0;
}
.links .box{
	border: 7px solid black;
	background: #ffffff;
	position: absolute;
	left: -150px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #000000;
	font-size: 16pt;
	width: 300px;
	height: 400px;
	overflow: hidden;
	z-index: 1;
}
.links .box-outer{
	position: relative;
	left: 50%;
}
.links .box-outer .arrow:before{
	z-index: 2;
	content: '';
	position: absolute;
	top: -26px;
	background: url("../images/icons/arrow.png") no-repeat;
	width: 40px;
	height: 40px;
	background-size: 40px;
}
.links .box .text{
	overflow-y: scroll;
	overflow-x: hidden;
	margin-right: -26px;
	height: 400px;
	padding-right: 25px;
}
.links #instruction{
	position: absolute;
	left: 75px;
	top: 400px;
}
.links #about{
	position: absolute;
	left: 785px;
	top: 125px;
}
.links #download{
	position: absolute;
	left: 670px;
	top: 570px;
}
.bottom{
	margin-bottom: 
}



/*override default bootstrap*/
html{

}
*, *::after, *::before{
    box-sizing: initial;
}
body{
	font-size: initial;
}
/*end of override*/